div.container{
  width: 80%;
  margin: auto;
  padding: 3rem;
  position: relative;
}
h1{
  text-align: center;
}
.container form{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.container form input{
  width: fit-content;
  padding: 1rem;
  font-size: 1.4rem;
}
.container table{
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}
.container table thead th{
  border-bottom: 1px solid #000;
}
.container table thead th,.container table tbody td{
  border-right: 1px solid #000;
  text-align: center;
  font-size: 1.4rem;
}
table tfoot tr{
  border-top: 1px solid black;
}
table tfoot tr td{
  text-align: center;
  font-size: 1.4rem;
}
table tfoot tr td#gtotal{
  text-align: right;
}